.random-planet {
  display: flex;
  align-items: center;
}

.random-planet--loading {
  justify-content: center;
}

.random-planet__logo {
  margin-right: 30px;
  width: 140px;
  max-height: 160px;
}
